* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f2f2f2;
  color: #1c1c1c;
  line-height: 1.6;
}

.header {
  background-color: #b11217;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.esquerda .logo {
  height: 50px;
}

.links ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.links ul li {
  margin-left: 20px;
}

.links ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
}

.links ul li a:hover {
  background-color: white;
  color: #b11217;
}


main {
  padding: 35px;
}

.text p {
  background-color: #ffffff;
  padding: 14px 20px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: bold;
  color: #b11217;
  text-align: center;
}

.poster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 41px;
}


.poster {
  border-radius: 12px;
  overflow: hidden;
  color: #b11217;
}

.texto h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  border-left: 5px solid #ED1D24;
  padding-left: 15px;
  margin-bottom: 20px;
}

.poster img {
  width: 220px;
  height: 315px;
  object-fit: cover;
  display: block;
}

.poster-info {
  padding: 7px;
}

.poster-info h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.poster-info span {
  font-size: 13px;
  color: #000000;
}

.historic {
  padding: 20px;

}

.historia h3 {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  border-left: 5px solid #ED1D24;
  padding-left: 15px;
  margin-bottom: 20px;
}

.historia li {
  line-height: 1.7;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #666;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  font-size: 14px;
  margin-bottom: 10px;
}

footer .links {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.link ul {
  list-style-type: none;
  display: flex;
  margin-left: auto;
}


.link ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 5px;
}

.link ul li a:hover {
  color: #b11217;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal.active {
  display: flex;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

#modalCatalogos {
  display: none;
  background: rgb(128, 152, 133);
  padding: 5%;
  height: 35vh;
  width: 35vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#modalCatalogos.active {
  display: block;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-box {
  background: #111;
  color: white;
  width: 600px;
  max-height: 90vh;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  position: relative;
}

.modal-box img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}


.modal-body {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.modal-body img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  flex-shrink: 0;
}

.modal-info {
  color: white;
  overflow-y: auto;
  max-height: 70vh;
}

.modal-info h2 {
  margin-bottom: 10px;
}

.modal-info p {
  margin: 6px 0;
}

.modal-info ul {
  margin-top: 10px;
  padding-left: 20px;
}


.modal-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-login-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.modal-login-content input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.modal-login-content button {
  padding: 8px 12px;
  background: #b11217;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-login-content .fechar-login {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-dinamico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-dinamico .modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.modal-dinamico .fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}