* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    color: #1c1c1c;
    line-height: 1.6;
}

.header {
    background-color: #b11217;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.esquerda .logo {
    height: 50px;
}

.links ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.links ul li {
    margin-left: 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.links ul li a:hover {
    background-color: white;
    color: #b11217;
}

main {
    padding: 35px;
}

.text p {
    background-color: #ffffff;
    padding: 14px 20px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: bold;
    color: #b11217;
    text-align: center;
}

.poster-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 41px;
}


.poster {
    border-radius: 12px;
    overflow: hidden;
    color: #b11217;
}

.texto h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0 20px 0;
    border-left: 5px solid #ED1D24;
    padding-left: 15px;
    margin-bottom: 20px;
}

.poster img {
    width: 220px;
    height: 315px;
    object-fit: cover;
    display: block;
}

.poster-info {
    padding: 7px;
}

.poster-info h2 {
    font-size: 16px;
    margin-bottom: 5px;
}

.poster-info span {
    font-size: 13px;
    color: #000000;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #666;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .links {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}


.link ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.link ul li a:hover {
    color: #b11217;
}