body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    color: #1c1c1c;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #b11217;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 40px;
}


.voltar {
    color: #0c0c0c;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.conteudo {
    display: flex;
    gap: 40px;
    padding: 40px;
    flex-wrap: wrap;
}

.poster-area {
    flex: 1;
    min-width: 280px;
}

.poster {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(255, 0, 0, 0.3);
}

.info {
    flex: 2;
    min-width: 300px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ED1D24;
}

h2 {
    margin-top: 25px;
    color: #ED1D24;
}

.data {
    font-size: 18px;
    color: #ED1D24;
}

ul li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    margin-top: 40px;
    color: #777;
}