.modalLogin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modalLoginConteudo {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.modalLoginConteudo input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.modalLoginConteudo button {
    padding: 8px 12px;
    background: #b11217;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalLoginConteudo .fecharLogin {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}