* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f2f2f2;
    color: #1c1c1c;
    line-height: 1.6;
}

.header {
    background-color: #b11217;
    padding: 15px 30px;
    display: flex;
    align-items: center;
}

.esquerda .logo {
    height: 50px;
}

.links ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.links ul li {
    margin-left: 20px;
}

.links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.links ul li a:hover {
    background-color: white;
    color: #b11217;
}

.hero {
    background-color: #ffffff;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-conteudo {
    max-width: 600px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.explorar {
    display: inline-block;
    text-decoration: none;
    background-color: #b11217;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-weight: bold;
}

.explorar:hover {
    background-color: #8f0f13;
}

.hero-gif {
    max-width: 300px;
    border-radius: 10px;
}

.introducao {
    background-color: #ffffff;
    padding: 40px;
    margin: 30px auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.introducao h2 {
    margin-bottom: 15px;
}

.introducao p {
    margin-bottom: 10px;
}

.colecoes {
    background-color: #e6e6e6;
    padding: 40px;
}

.colecoes h2 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
    color: #e62429;
}

.convite {
    background-color: #b11217;
    color: white;
    padding: 40px;
    text-align: center;
}

.convite h2 {
    margin-bottom: 15px;
}

.auti {
    display: inline-block;
    margin-top: 15px;
    background-color: white;
    color: #b11217;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.auti:hover {
    background-color: #f2f2f2;
}

.historic {
    padding: 20px;

}

.historia h3 {
    font-size: 28px;
    font-weight: bold;
    margin: 30px 0 20px 0;
    border-left: 5px solid #ED1D24;
    padding-left: 15px;
    margin-bottom: 20px;
}

.historia li {
    line-height: 1.7;
}


footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #666;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .links {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}


.link ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.link ul li a:hover {
    color: #b11217;
}

@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Trebuchet MS', sans-serif;
        background-color: #f2f2f2;
        color: #1c1c1c;
        line-height: 1.4;
        font-size: 16px;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 10px;
        background-color: #b11217;
    }

    .esquerda .logo {
        height: 40px;
        width: auto;
    }

    .links ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin-left: auto;
    }

    .links ul li {
        margin-left: 10px;
    }

    .links ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        padding: 5px 8px;
        font-size: 14px;
        border-radius: 5px;
    }

    .links ul li a:hover {
        background-color: white;
        color: #b11217;
    }


    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px 15px;
    }

    .hero-conteudo h2 {
        font-size: 22px;
        color: #b11217;
        margin-bottom: 10px;
    }

    .hero-conteudo p {
        font-size: 14px;
        color: #1c1c1c;
        margin-bottom: 15px;
    }

    .hero-gif {
        width: 100%;
        height: auto;
        margin-top: 15px;
        border-radius: 10px;
    }

    .explorar {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 12px;
        background-color: #b11217;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        font-size: 14px;
    }

    .introducao {
        padding: 20px 15px;
        text-align: center;
    }

    .introducao h2 {
        font-size: 18px;
        color: #e62429;
        margin-bottom: 10px;
    }

    .introducao p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .poster-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 15px 0;
    }

    .historic ul {
        padding-left: 20px;
        font-size: 14px;
    }

    .colecoes .cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px;
    }

    .card h3 {
        font-size: 16px;
        color: #b11217;
        margin-bottom: 5px;
    }

    .card p {
        font-size: 14px;
        line-height: 1.4;
    }

    footer {
        text-align: center;
        padding: 15px;
        font-size: 10px;
        color: #666;
        background-color: #1c1c1c;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .logo {
        font-size: 12px;
        margin-bottom: 5px;
    }
}



@media (min-width: 768px) and (max-width: 1199px) {

    .header {
        padding: 15px 30px;
    }

    .esquerda .logo {
        height: 50px;
    }

    .links ul li a {
        padding: 6px 10px;
        font-size: 14px;
    }

    .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 40px 20px;
    }

    .hero-conteudo h2 {
        font-size: 28px;
    }

    .hero-conteudo p {
        font-size: 16px;
    }

    .hero-gif {
        width: 50%;
        margin-top: 0;
    }

    .explorar {
        font-size: 16px;
        padding: 10px 15px;
    }

    .introducao h2 {
        font-size: 22px;
    }

    .introducao p {
        font-size: 16px;
    }

    .poster-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
        margin: 20px 0;
    }

    .colecoes .cards {
        flex-direction: row;
        gap: 20px;
    }

    .card h3 {
        font-size: 18px;
    }

    .card p {
        font-size: 16px;
    }

    footer {
        padding: 18px;
        font-size: 12px;
    }
}