body {
    margin: 0;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #1c1c1c;
}

.header {
    background-color: #b11217;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.esquerda .logo {
    height: 50px;
}

.links ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}

.links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.links ul li a:hover {
    background-color: white;
    color: #b11217;
}

.banner {
    padding: 0px;

}

.banner img {
    height: 480px;
    width: 100%;
}

.titulo {
    text-align: center;
    padding: 60px 20px;

}

.titulo h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.titulo p {
    font-size: 1.2rem;
}

.conteudo {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.conteudo h2 {
    color: #e62429;
    margin-top: 40px;
}

.conteudo p {
    color: #1c1c1c;
    line-height: 1.6;
}

.gif {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.lista {
    margin-top: 20px;
    padding-left: 20px;
}

.lista li {
    margin-bottom: 10px;
    color: #1c1c1c;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 12px;
    color: #666;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .logo {
    font-size: 14px;
    margin-bottom: 10px;
    align-items: center;
}



footer .links {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.link ul {
    list-style-type: none;
    display: flex;
    margin-left: auto;
}


.link ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 5px;
}

.link ul li a:hover {
    color: #b11217;
}