body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #1c1c1c;
}

.header {
    display: flex;
    align-items: center;
    background-color: #b11217;
    padding: 15px 40px;
}

.logo {
    height: 55px;
}

.links ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.links a:hover,
.links .ativo {
    color: black;
}

.banner {
    text-align: center;
    padding: 60px 20px;

}

.banner h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
}

.conteudo {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.conteudo h2 {
    color: #e62429;
    margin-top: 40px;
}

.conteudo p {
    color: #1c1c1c;
    line-height: 1.6;
}

.gif {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.lista {
    margin-top: 20px;
    padding-left: 20px;
}

.lista li {
    margin-bottom: 10px;
    color: #1c1c1c;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #202020;
    margin-top: 40px;
}